/**
 * Part of this file come from https://pages.github.com/css/pages.css
 */

.terminal {
  width: 800px;
  margin: 30px auto 0;
}

.header {
  height: 25px;
  display: block;
  background: -moz-linear-gradient(top,  #f7f7f7 0%, #cfcfcf 5%, #aaaaaa 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(5%,#cfcfcf), color-stop(100%,#aaaaaa));
  background: -webkit-linear-gradient(top,  #f7f7f7 0%,#cfcfcf 5%,#aaaaaa 100%);
  background: -o-linear-gradient(top,  #f7f7f7 0%,#cfcfcf 5%,#aaaaaa 100%);
  background: -ms-linear-gradient(top,  #f7f7f7 0%,#cfcfcf 5%,#aaaaaa 100%);
  background: linear-gradient(top,  #f7f7f7 0%,#cfcfcf 5%,#aaaaaa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#aaaaaa',GradientType=0 );
  border: 1px solid #9c9c9c;
  border-bottom-color: #111;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  text-align: center;
  font-size: 13px;
  line-height: 25px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.6);
  color: #444;
}

.shell {
  font-family: monospace;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #3d3d3d;
  overflow: hidden;
  padding: 20px;
  margin: 0;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  text-align: left;
  display: block;
  height: 300px;
}

.shell .console {
  white-space: pre;
}

.shell label {
  display: table-cell;
  width: auto;
  vertical-align: middle;
  font-weight: normal;
}

.shell .prompt {
  display: table-cell;
  width: 100%;
}

.shell input {
  font-family: monospace;
  font-size: 16px;
  background: transparent;
  color: #ffffff;
  width: 100%;
  margin-left: 8px;
  border: none;
  outline: none;
  font-weight: normal;
  padding: 0;
}